.setColor(@color) {
	color: @color;
}
.setBgColor(@color) {
	background-color: @color;
}
.setBorderColor(@color) {
	border-color: @color;
}
.setNotificationsScheme(@name; @nameSub) {
	.setBgColor(@name);
	.notification-icon {
		.setBgColor(@nameSub);
	}
}

.font-face(@font-name; @font-path; @weight; @style) {
	@font-face {
		font-family: @font-name;
		src: url('../fonts/@{font-path}.woff') format('woff'),
		url('../fonts/@{font-path}.ttf') format('truetype');
		font-weight: @weight;
		font-style: @style;
	}
}