body {
	&.loaded {
		&:after {
			opacity: 0;
			visibility: hidden;
		}
	}

	&.login-page {
		background: url("../images/login-bg.jpg") no-repeat center;
		background-size: cover;

		#header {
			display: none !important;
		}
	}

	&.modal-open {
		overflow: hidden;
	}

	&:before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: @base-background-color;
		z-index: 1;
		opacity: .92;
	}

	&:after {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: @base-background-color;
		transition: opacity ease .3s, visibility ease .3s;
		z-index: 999;
	}
}

#wrapper {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.container {
	padding: 0 30px;
	margin: 0 auto;
	max-width: 1238px;

	.login-page & {
		max-width: 600px;

		@media @desktop {
			max-width: 480px;
		}

		@media @desktop-md {
			max-width: 390px;
		}
	}
}

#main {
	min-height: 100vh;
	padding: 126px 0 62px;

	@media @tablet-md {
		padding: 108px 0 50px;
	}

	@media @desktop {
		padding: 100px 0 106px;
	}

	@media @desktop-md {
		padding: 94px 0 75px;
	}

	.login-page & {
		padding: 30px 0;

		@media @tablet {
			padding: 63px 0 119px;
		}

		@media @tablet-md {
			padding: 50px 0 47px;
		}

		@media @desktop {
			padding: 116px 0 177px;
		}

		@media @desktop-md {
			padding: 49px 0 113px;
		}
	}
}

.text-center {
	text-align: center;
}

.logo {
	display: block;
	margin: 0 auto 30px;

	@media @tablet {
		margin-bottom: 136px;
	}

	@media @tablet-md {
		width: 255px;
		margin-bottom: 66px;
	}

	@media @desktop {
		width: 315px;
		margin-bottom: 73px;
	}

	@media @desktop-md {
		width: 250px;
		margin-bottom: 44px;
	}
}

h1 {
	color: @white;
	position: absolute;
	top: 46px;
	left: 30px;

	@media @tablet-md {
		top: 41px;
	}

	@media @desktop {
		position: static;
		margin: 0 0 23px;
	}

	@media @desktop-md {
		font-size: 28px;
	}
}

h2 {
	font-weight: 300;
	color: @grayLight;

	@media @desktop {
		font-size: 24px;
	}

	@media @desktop-md {
		font-size: 20px;
	}
}

h3 {
	font-family: @base-font-sans-serif;
	color: @white;
	margin: 0 0 59px;

	@media @desktop {
		margin: 0 0 36px;
	}
}

.h5 {
	font: 400 14px @pt-sans, @base-font-sans-serif;
	color: @white;
	text-transform: uppercase;

	@media @tablet-md {
		font-size: 16px;
	}

	@media @desktop-md {
		font-size: 14px;
	}
}

a {
	text-decoration: none;
	transition: color .3s;
}

.btn {
	display: inline-block;
	vertical-align: top;
	padding: @btn-padding;
	background-color: @btn-background;
	color: @btn-color;
	font: 700 @btn-font-size @btn-font;
	border: none;
	outline: none;
	transition: background-color .3s;

	@media @desktop {
		font-size: @btn-font-size - 3px;
		min-width: 155px;
		padding: 13px 15px;
	}

	@media @desktop-md {
		font-size: @btn-font-size - 5px;
		min-width: 123px;
		padding: 10px 15px;
	}

	&.btn-blue {
		background-color: @blue;

		&:hover {
			background-color: #368bc5;
		}
	}

	&:hover {
		background-color: #16a085;
	}
}

.login-form {

	&.validation-error {
		.error-text {
			opacity: 1;
			visibility: visible;
		}

		input[type="text"],
		input[type="email"],
		input[type="password"] {
			border-bottom-color: @redDark;
		}
	}

	input[type="submit"],
	button[type="submit"] {
		width: 100%;

		@media @desktop {
			width: auto;
		}
	}

	input[type="text"],
	input[type="email"],
	input[type="password"] {
		width: 100%;
	}
}

input[type="text"],
input[type="email"],
input[type="password"] {
	transition: border-color .3s, color .3s;
	border: none;
	border-bottom: 2px solid @form-element-border-color;
	height: 46px;
	text-align: left;
	color: @grayLight;

	@media @desktop {
		font-size: 19px;
	}

	@media @desktop-md {
		border-bottom-width: 1px;
		font-size: 16px;
		height: 39px;
		padding: 0 30px;
	}

	&::placeholder {
		color: inherit;
	}

	&:focus {
		color: @white;
		outline: none;

		& + i {
			color: @white;
		}
	}
}

.checkbox-rating {
	display: flex;
	flex-flow: row-reverse;
	justify-content: flex-end;
	padding: 15px 0 6px;
	margin: 0 0 36px;
	border-bottom: 1px solid @form-element-border-color;

	.icon-fill {
		background-image: url("../images/tomato_fill.svg");
	}

	.icon-nofill {
		background-image: url("../images/tomato.svg");
	}

	.icon {
		&:extend(.icon-nofill);

		display: block;
		width: 21px;
		height: 20px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		background-image: url("../images/tomato.svg");
		margin-right: 14px;
	}

	input[type="checkbox"] {
		display: none;

		&:checked + label,
		&:checked ~ label {
			i {
				&:extend(.icon-fill);
			}
		}
	}
}

.custom-radio {
	position: relative;
	padding-left: 20px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 29px;
	margin-bottom: 11px;

	&:hover {
		cursor: pointer;
	}

	&.priority-urgent {
		&:hover {
			.fake-input {
				.priority-colors(#d35a4c);
			}
		}
	}

	&.priority-high {
		&:hover {
			.fake-input {
				.priority-colors(#ffa841);
			}
		}
	}

	&.priority-middle {
		&:hover {
			.fake-input {
				.priority-colors(#f4db52);
			}
		}
	}

	&.priority-low {
		&:hover {
			.fake-input {
				.priority-colors(#1abc9c);
			}
		}
	}

	input[type="radio"] {
		position:fixed;
		left:0;
		top:0;
		opacity:0;
		z-index: -1;

		&:checked {
			& + .fake-input {
				border-color: @base-background-color !important;
			}
		}
	}

	.fake-input {
		position: absolute;
		top: 6px;
		left: 0;
		background-color: @grayLighter;
		border: 2px solid @grayLighter;
		border-radius: 50%;
		width: 9px;
		height: 9px;
		box-shadow: 0 0 0 4px @grayLighter;
		transition: border-color .3s, box-shadow .3s, background-color .3s;
	}

	.fake-label {
		display: block;
		font: 18px @roboto, @base-font-sans-serif;
		text-transform: capitalize;
	}
}

.submit-holder {
	padding-top: 20px;

	@media @tablet-md {
		padding-top: 9px;
	}

	@media @desktop {
		padding-top: 36px;
	}

	@media @desktop-md {
		padding-top: 30px;
	}
}

.input-wrap {
	margin: 0 0 33px;
	position: relative;
	display: block;

	@media @desktop {
		margin: 0 0 14px;
	}

	@media @desktop-md {
		margin: 0 0 20px;
	}

	i {
		transition: color .3s;
		position: absolute;
		top: 44%;
		transform: translateY(-50%);
		left: 7px;
		display: block;
		color: @grayLight;
		font-size: 18px;

		@media @desktop-md {
			font-size: 14px;
			left: 0;
		}
	}
}

.error-text {
	transition: opacity .3s, visibility .3s;
	color: @redDark;
	font-size: 12px;
	opacity: 0;
	visibility: hidden;
	position: absolute;
	bottom: -20px;
	left: 0;
}

.subnav-list {
	.listreset();

	font-size: 24px;
	margin: 0 0 50px;

	@media @tablet-md {
		margin: 0 0 31px;
	}

	@media @desktop {
		font-size: 22px;
		margin: 0 0 63px;
	}

	@media @desktop-md {
		font-size: 16px;
	}

	li {
		display: inline-block;
		vertical-align: top;
		position: relative;
		padding-left: 23px;

		@media @desktop-md {
			padding-left: 16px;
		}


		&.active {
			a {
				color: @white;
				pointer-events: none;
			}
		}

		&:before {
			content: '|';
			position: absolute;
			top: 0;
			left: 6px;

			@media @desktop-md {
				left: 4px;
			}
		}

		&:first-child {
			&:before {
				content: none;
			}
		}
	}

	a {
		color: @grayLighter;

		&:hover {
			color: @white;
		}
	}
}

.subtitle-holder {
	display: flex;
	flex-direction: column-reverse;
	margin: 0 0 45px;

	@media @tablet-md {
		margin: 0 0 40px;
	}

	@media @desktop {
		margin: 0 0 60px;
	}

	@media @desktop-md {
		flex-direction: column;
		margin: 0 0 12px;
	}

	.tabs-block {
		@media @desktop-md {
			margin-top: -27px;
		}
	}

	.subnav-list {
		align-self: flex-end;
	}
}

.settings-pomodoros-holder {
	text-align: left;
	margin: 0 0 48px;

	@media @tablet-md {
		display: flex;
		flex-wrap: wrap;
	}

	@media @desktop {
		margin: 0 0 36px;
	}

	@media @desktop-md {
		margin: 0 0 1px;
	}

	.column {
		width: 50%;
		padding: 0 0 0 42px;
		max-width: 345px;
		margin: 0 auto 43px;

		@media @tablet-md {
			padding: 0 0 0 96px;
			max-width: 400px;
			margin-bottom: 64px;
		}

		@media @desktop-md {
			margin-bottom: 45px;
		}
	}

	h4 {
		position: relative;

		&:before {
			content: '';
			position: absolute;
			top: 2px;
			left: -38px;
			display: block;
			border-radius: 50%;
			width: 17px;
			height: 17px;
			background-color: #77a9e0;
		}
	}

	.holder {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		padding-right: 38px;
		margin: 0 0 11px;
	}
}

.counter-holder {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 142px;
	border-bottom: 1px solid @grayLighter;
	font-size: 16px;
	line-height: 1.8;

	button {
		background-color: transparent;
		color: @grayLighter;
		outline: none;
		padding: 0;
		border: none;
		font-size: 10px;
	}

	.value {
		font-weight: 400;
	}
}

.work-time {
	h4:before {
		background-color: #ecb029;
	}
}

.work-iteration {
	h4:before {
		background-color: #77d3d8;
	}
}

/*.short-break {
	h4:before {
		background-color: #77a9e0;
	}
}

.long-break {
	h4:before {
		background-color: #77a9e0;
	}
}*/

.categories-list {
	.listreset();

	max-width: 540px;
	margin: 0 auto 136px;
	font-family: @base-font-sans-serif;

	@media @tablet-md {
		margin-bottom: 79px;
	}

	@media @desktop {
		max-width: 440px;
		margin-bottom: 97px;
	}

	@media @desktop-md {
		max-width: 288px;
	}

	li {
		margin: 0 0 37px;

		@media @tablet-md {
			margin: 0 0 25px;
		}

		@media @desktop-md {
			margin: 0 0 23px;
		}
	}

	input {
		width: 100%;
		font-size: 23px;
		padding: 0;

		@media @desktop {
			font-size: 19px;
		}

		@media @desktop-md {
			font-size: 16px;
		}
	}

	.category-input {
		position: relative;
		display: block;
		padding-left: 42px;

		&:before {
			content: '';
			position: absolute;
			top: 21px;
			left: 5px;
			border-radius: 50%;
			width: 9px;
			height: 9px;
			background-color: #77d3d8;
			border: 2px solid #77d3d8;
			box-shadow: 0 0 0 4px #77d3d8;
			transition: border-color .3s;

			@media @desktop-md {
				top: 15px;
			}
		}

		&.focus {
			&:before {
				border-color: @base-background-color;
			}
		}
	}

	.category-0 {
		&:before {
			background-color: #ecb029;
			border-color: #ecb029;
			box-shadow: 0 0 0 4px #ecb029;
		}
	}

	.category-1 {
		&:before {
			background-color: #77a9e0;
			border-color: #77a9e0;
			box-shadow: 0 0 0 4px #77a9e0;
		}
	}

	.category-2 {
		&:before {
			background-color: #a36fcc;
			border-color: #a36fcc;
			box-shadow: 0 0 0 4px #a36fcc;
		}
	}

	.category-3 {
		&:before {
			background-color: #c76c65;
			border-color: #c76c65;
			box-shadow: 0 0 0 4px #c76c65;
		}
	}
}

.timeline {
	height: 10px;
	position: relative;
	margin: 0 0 99px;

	@media @desktop {
		margin: 0 0 136px;
	}

	@media @desktop-md {
		margin: 0 0 84px;
	}

	& > div {
		position: absolute;
		top: 0;
		bottom: 0;
	}

	.work-time {
		background-color: @yellow;
	}

	.short-break {
		background-color: @blue;
	}

	.long-break {
		background-color: @blue;
	}
}

.btn-group {
	.btn {
		margin: 0 7px;
		font-weight: 700;
		width: 37%;
		font-size: 23px;

		@media @tablet-md {
			width: 27%;
		}

		@media @desktop {
			width: auto;
			font-size: 18px;
			padding: 10px 15px;
			min-width: 125px;
		}

		&:only-child {
			width: 76%;

			@media @tablet-md {
				width: 56%;
			}

			@media @desktop {
				width: auto;
			}
		}
	}
}

.hint-block {
	font: 300 36px @roboto, @base-font-sans-serif;

	@media @tablet-md {
		font-size: 30px;
	}

	@media @desktop {
		font-size: 36px;
	}

	p {
		margin: 0;
	}
}

.modal {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .7);
	font-family: @roboto, @base-font-sans-serif;
	overflow: hidden;

	&.delete-modal {
		.icon-trash {
			opacity: 1;
			visibility: visible;
		}
	}

	h3 {
		font: 700 28px @roboto, @base-font-sans-serif;
		text-align: center;
		margin: 0 0 44px;
	}
	
	label:not([class]) {
		display: inline-block;
		vertical-align: top;
		text-transform: uppercase;
		font-size: 16px;
		color: @white;
		margin: 0 0 11px;
	}
	
	input[type="text"] {
		width: 100%;
		height: 52px;
		padding: 0;
		font-size: 18px;
		border-bottom-width: 1px;
	}

	.form-holder {
		padding: 0 62px;
	}

	.input-holder {
		margin: 0 0 40px;
	}

	.checkbox-row {
		margin: 0 0 38px;
		padding: 16px 0 4px;
		border-bottom: 1px solid #4a5968;
	}
}

.modal-window {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #344150;
	width: 100%;
	height: 100%;
	padding: 35px 25px 20px;
	overflow-x: hidden;
	overflow-y: auto;

	@media @desktop {
		max-width: 565px;
		max-height: 706px;
	}

	@media @desktop-md {
		max-width: 500px;
		max-height: 630px;
	}
}

.modal-head {
	display: flex;
	justify-content: space-between;
	margin: 0 0 44px;

	.icon-trash {
		opacity: 0;
		visibility: hidden;
	}
}

.modal-btns {
	.listreset();

	font-size: 29px;

	li {
		display: inline-block;
		vertical-align: top;
		margin-left: 8px;
	}

	button {
		transition: color .3s;
		background-color: transparent;
		border: none;
		color: @grayLighter;

		&:hover {
			color: @white;
		}
	}
}

.tasklist-nav {
	.listreset();

	display: flex;
	justify-content: space-between;
}