* {
	margin: 0;
	padding: 0;
	border: none;
}
button,
input {
	outline: none;
}
html {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}
body {
  width: 100%;
  background-color: @main;
 /*  height: 100%; */
  /*padding-top: 30px;*/ /*dont forget about it*/
}
a {
	text-decoration: none;
}
/* pages header */
header {
	text-align: center;
	padding-bottom: 40px;
}
.main-page-title {
	color: #fff;
	padding-bottom: 30px;
	font: 28px "robotobold";
	@media screen and (max-width: 1365px) {
		font-size: 32px;
	}
	@media screen and (max-width: 1023px) {
		text-align: left;
	}
}
.title-hint {
	color: #8da5b8;
	font: 20px "robotolight";
	@media screen and (max-width: 1365px) {
		font-size: 24px;
	}
	@media screen and (max-width: 1023px) {
		font-size: 27px;
	}
}
/* pages content */
.content-area {
	padding: 40px 36px 75px;
	/* margin: 0 auto; */
	width: 100%;
	clear: both;
	overflow: hidden;
	box-sizing: border-box;
}

/* BUTTNS */
button:hover {
	cursor: pointer;
	color: #fff;
}
input[type="submit"],
.action-btn {
	display: block;
	margin: 0 auto;
	//color: @active;
	/* width: 123px;
	height: 42px; */
	max-width: 123px;
	padding: 11px 40px;
	margin-top: 50px;
	font: 18px "pt_sansbold";
	@media screen and (max-width: 1023px) {
		width: 100%;
		max-width: 541px;
	}
}
.back-btn,
.finish-task-btn,
.cancel-btn {
	background-color: #57a6dc;
}
.fail-btn {
	background-color: #f75c4c;
}
.remove-btn {
	background-color: #f15a4a;
}
input[type="submit"],
.next-btn,
.start-btn,
.finish-btn,
.save-btn {
	background-color: #1abc9c;
}
input[type="submit"] {
	&:focus, 
	&:hover {
		cursor: pointer;
		background-color: #16a085;
	}
}
.next-btn:hover,
.start-btn:hover,
.finish-btn:hover,
.save-btn:hover  {
	background-color: #16a085;
}
.back-btn:hover,
.finish-task-btn:hover,
.cancel-btn:hover  {
	background-color: #368bc5;
}
.fail-btn:hover {
	background-color: #f08e19;
}
.remove-btn:hover {
	background-color: #d93928;
}
/* END */



/*app-settings*/
.app-settings {
	/*display: none;*/
	/*float: right;*/
	padding: 20px 50px 0 0;
	position: absolute;
	right: 0;
}
.setting-icons {
	//color: @unactive;
}
.setting-icons:hover,
.setting-folder-btn:hover {
	//color: @active;
	cursor: pointer;
}
.setting-btn {
	margin: 0 0 80px 30px;
	background-color: transparent;
	font-size: 17px;
}
.trash-count-mark { 
	width: 1.5em;
	height: 1.5em;
	line-height: 1.5em;
	border-radius: 50%;
	background-color: #f75c4c;
	display: block;
	position: relative;
	top: -6px;
	right: -9px;
	//color: @active;
	font-size: 8px;
}

/* filter tabs */
.tabs-block {
	float: right;
	/* padding-right: 40px; */
}
.tabs,
.tabs a {
	//color: @unactive;
	background-color: transparent;
	//font: 16px @ptsansreg;
}
.tabs:after {
	content: "|";
	background-color: transparent;
	//font: 16px @ptsansreg;
	//color: @unactive;
	padding: 0 10px;
}
.tabs:last-child {
	padding-right: 0;
}
.tabs:last-child:after {
	content: "";
}
/* end */


/*radiobtn*/
.work {
	background-position-x: -1px;
}
.education {
	background-position-x: -73px;
}
.hobby {
	background-position-x: -55px;
}
.sport {
	background-position-x: -37px;
}
.other {
	background-position-x: -19px;
}

/* tooltip */
.tooltips-block {
	position: absolute;
	z-index: 500;
	background-color: #cedeea;
	border-radius: 2px;
	border-width: 1px;
	border-color: rgba(84, 108, 126, 0.7);
	color: #3c5162;
	//font: 12px @robotobold;
	padding: 10px 15px;
	left:-9999px;
}
.tooltips-block::before {
    content: ''; 
    position: absolute;
    left: 15px; bottom: 30px; 
    border: 10px solid transparent; 
    border-bottom: 10px solid #cedeea;
   }
/* for active links */
.active,
.active a {
	//color: @active;
}
/* for hidden elements */
.hidden {
	display: none;
}

/* active page */
.main-wrapper {
	padding-top: 30px;
}
.add-task {
	color: @active;
	display: block;
	margin: 0 auto;
}
.add-task-btn {
	background-color: transparent;

}
.add-task:hover {
	cursor: pointer;
}

.hidden-header-wrapper {
	position: fixed;
	z-index: 200;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background-color: #2a3f50;
	padding: 10px 90px;
	box-sizing: border-box;
	box-shadow: 0 -5px 10px 10px rgba(34, 56, 73, 0.7);
	border-bottom: 1px solid #223849;
	overflow: hidden;
	@media screen and (max-width: 586px) {
		padding: 10px 40px;
	}
	@media screen and (max-width: 486px) {
		padding: 10px 15px;
	}
	@media screen and (max-width: 436px) {
		padding: 10px 0;
	}
}
.hidden-header {
	overflow: hidden;
}
header {
	padding-bottom: 10px;
}
.hidden-header-logo {
	width: 242px;
	height: 74px;
	float: left;
}
.nav-settings {
	float: right;
	padding-top: 25px;
}
.nav-settings-btn {
	background-color: transparent;
	color: @unactive;
	padding-left: 20px;
}
.nav-settings-btn:hover {
	color: @active;
	cursor: pointer;

}


.top-hint {
	font: 36px @robotolight;
	color: @unactive;
	text-align: center;
}

.btn-groups {
	overflow: hidden;
	padding-top: 30px;
}
.global-group {
	overflow: hidden;
	padding-bottom: 20px;
}
.selection-group {
	clear: both;
}
.task-list {
	/* max-width: 100%; */
	margin: 0 auto;
}
.today-task-list {
	padding-top: 45px;
	.arrow-to-top {
		display: none;
	}
	.edit-btn {
		padding: 30px 0;
	}
}
.today-task-list .task-block {
	margin-bottom: 15px; /*necessary*/
}
.global-list {
	float: left;
	background-color: transparent;
	font: 20px @ptsansbold;
	color: @unactive;

}
.icon-global-list-arrow-down,
.icon-global-list-arrow-right {
	font-size: 10px;
	padding-left: 10px;
}
.selection-type {
	float: right;
}
.tasks-categories {
	//padding-top: 20px;
}
.radio-icon {
	position: relative;
	top: 9px;
	left: -4px;
	margin-right: 10px; /*necessary*/
	background-position-y: -1px;
	width: 17px;
	height: 17px;
	display: inline-block;
	float: left;
	background-image: url("@{pathToFile}img/radiobtn-sprite.png");
	&.icon-0 {
		background-position-x: @backgroundPositionX - 1px;
	}
	&.icon-1 {
		background-position-x: @backgroundPositionX - 73px;
	}
	&.icon-2 {
		background-position-x: @backgroundPositionX - 55px;
	}
	&.icon-3 {
		background-position-x: @backgroundPositionX - 37px;
	}
	&.icon-4 {
		background-position-x: @backgroundPositionX - 19px;
	}
}
.list-type-title {
	font: 16px @robotobold;
	position: relative;
	top: 4px;
	left: -4px;
	&.category {
		&-0 {
			color: @category_0;
		}
		&-1 {
			color: @category_1;
		}
		&-2 {
			color: @category_2;
		}
		&-3 {
			color: @category_3;
		}
		&-4 {
			color: @category_4;
		}
	}
}
.block-border {
	border-top: none;
	border-right: none;
	border-bottom: none;

	border-left-width: 9px;
	border-left-style: solid;
	&.category {
		&-0 {
			border-color: @category_0;
		}
		&-1 {
			border-color: @category_1;
		}
		&-2 {
			border-color: @category_2;
		}
		&-3 {
			border-color: @category_3;
		}
		&-4 {
			border-color: @category_4;
		}
	}
}


.span {
	height: 15px;
	width: 9px;
	&.category {
		&-0 {
			background-color: @category_0;
		}
		&-1 {
			background-color: @category_1;
		}
		&-2 {
			background-color: @category_2;
		}
		&-3 {
			background-color: @category_3;
		}
		&-4 {
			background-color: @category_4;
		}
	}
}
.double-span {
	height: 20px;
	width: 9px;
	&.category {
		&-0 {
			background-color: @category_0;
		}
		&-1 {
			background-color: @category_1;
		}
		&-2 {
			background-color: @category_2;
		}
		&-3 {
			background-color: @category_3;
		}
		&-4 {
			background-color: @category_4;
		}
	}
}

.task-block {
	min-height: 86px;
	background-color: @active;
	position: relative;
	margin: 0 auto;
}

.add-to-trash {
	float: left;
	width: 80px;
	height: 100%;
	position: absolute;
	color: @active;
	font-size: 30px;
	&.category {
		&-0 {
			background-color: @category_0;
		}
		&-1 {
			background-color: @category_1;
		}
		&-2 {
			background-color: @category_2;
		}
		&-3 {
			background-color: @category_3;
		}
		&-4 {
			background-color: @category_4;
		}
	}
}

.task-date,
.task-deadline,
.task-description-wrapper,
.task-edits,
.task-block > .edit-btn,
.pomodoro-priority {
	float: left;
	height: 100%;
}
.task-date,
.task-deadline,
.task-description-wrapper,
.task-edits,
.task-block > .edit-btn {
	background-color: @active;
}
.task-deadline {
	padding: 30px 25px;
	box-sizing: border-box;
	font: 14px @ptsansbold;
	color: #a2a2a2;
}

.task-description-wrapper {
	padding: 12px 10px;
	box-sizing: border-box;
	max-width: 70%;
	word-wrap: break-word;
}
.task-name {
	font: 19px @robotomed;
	&.category {
		&-0 {
			color: @category_0;
		}
		&-1 {
			color: @category_1;
		}
		&-2 {
			color: @category_2;
		}
		&-3 {
			color: @category_3;
		}
		&-4 {
			color: @category_4;
		}
	}
	@media screen and (max-width: 1365px) {
		font-size: 22px;
	}
	@media screen and (max-width: 1023px) {
		font-size: 19px;
	}
	@media screen and (max-width: 767px) {
		font-size: 24px;
	}
}
.task-desciption {
	font: 16px @robotoreg;
	@media screen and (max-width: 1365px) {
		font-size: 19px;
	}
	@media screen and (max-width: 1023px) {
		font-size: 15px;
	}
	@media screen and (max-width: 767px) {
		font-size: 17px;
	}
	color: #7f7f7f;
}
.task-edits,
.task-block > .edit-btn {
	box-sizing: border-box;
	padding: 0 30px;
}
.task-edits {
	float: right;
}
.task-block > .edit-btn {
	margin-top: 0;
	float: right;
}
.edit-btn {
	display: list-item;
	color: #cacaca;
	font-size: 20px;
	background-color: transparent;
	padding-top: 15px;
	list-style-type: none;
}
.arrow-to-top:hover,
.open-modal-btn:hover {
	color: #88a3b5;
}
.pomodoro-priority {
	position: relative;
	box-sizing: border-box;
	padding: 20px;
	font-size: 40px;
	color: @active;
	float: right;
	&.priority- {
		&urgent {
			.setBgColor(@priority_urgent);
		}
		&high {
			.setBgColor(@priority_high);
		}
		&middle {
			.setBgColor(@priority_middle);
		}
		&low {
			.setBgColor(@priority_low);
		}
	}
	&:hover {
		.icon-toggle:before {
			content: '\e90d';
		}
		.priority-num {
			visibility: hidden;
		}
	}
}
.icon-toggle:before {
	content: '\e90e';
}
.priority-num {
	font: 24px @ptsansbold;
	position: absolute;
	left: 34px;
	top: 25px;
}

/*STYLE FOR DONE TASKS*/
.done-task .task-date,
.done-task .task-deadline,
.done-task .task-description-wrapper,
.done-task .task-edits,
.done-task .edit-btn {
	background-color: #d4d9dc;
}
.done-task .task-name {
	text-decoration: line-through;
}


/*NOTIFICATIONS*/
.notifications {
	position: fixed;
}
.top-notifications {
	top: 10px;
	left: 50%;
	margin-left: -45%;
	width: 90%;
}
.bottom-notifications {
	bottom: 20px;
	right: 20px;
	width: 30%;
}
.notification-message {
	color: @active;
	/* height: 50px; */
	width: 100%;
	border: 1px solid @active;
	border-radius: 2px;
	display: block;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 18px 31px 2px rgba(0, 0, 0, 0.2);
}
.notification-icon {
	float: left;
	padding: 10px 15px;
	font-size: 25px;
}
.notification-close-btn {
	float: right;
	font-size: 20px;
	background-color: transparent;
	color: @active;
}
.text-notification {
	font: 15px @robotobold;
	padding-left: 20px;
}
.inner-notififction-wrapper {
	padding: 13px;
}

/*INFO*/
.info-notification {
	.setNotificationsScheme(@info, @infoSub);
}
/*SUCCESS*/
.success-notification {
	.setNotificationsScheme(@success, @successSub);
}
/*ERROR*/
.error-notification {
	.setNotificationsScheme(@error, @errorSub);
}
/*WARNING*/
.warning-notification {
	.setNotificationsScheme(@warning, @warningSub);
}
/*END*/

.hidden {
	display: none;
}

/* arrows */
.arrow {
	color: @active;
	overflow: hidden;
}
.arrow-wrap {
	color: @active;
}
.arrows {
	background-color: transparent;
	position: absolute;
	top: 50%;
	margin-top: -7.5px;
	&:hover {
		cursor: pointer;
	}
}
.icons {

	color: @active;
}
.arrow-left {
	left: 0;
}
.arrow-right {
	right: 0;
}

/*login page*/
.main-wrapper {
	background: linear-gradient(to top, rgba(8, 41, 63, 0.92), rgba(8, 41, 63, 0.92)), url("@{pathToFile}img/login-bg.jpg") center center/cover no-repeat;
	font-family: @robotoreg;
	height: 100%;
}
.login-content-area {
	max-width: 330px;
	margin: 0 auto;
	padding: 20px 0 10px;
	@media screen and (max-width: 1365px) {
		max-width: 417px;
		padding-top: 50px;
	}
	@media screen and (max-width: 1023px) {
		max-width: 540px;
		padding-top: 20px;
	}
}
.alt-logo-text {
	text-indent: -9999px;
	position: absolute;
	font: 28px @robotobold;
}
.logo {
	margin: 0 auto;
	padding-bottom: 20px;
	width: 245px;
	height: 371px;
	background: url("@{pathToFile}img/Logo_1.svg") -1% 50% / 100% no-repeat;
	@media screen and (max-width: 1365px) {
		width: 312px;
		height: 450px;
	}
	@media screen and (max-width: 1023px) {
		width: 257px;
		height: 364px;
	}
	@media screen and (max-width: 767px) {
		width: 312px;
		height: 450px;
	}
}
.input-wrap {
	position: relative;
}
.form-input {
	box-sizing: border-box;
	padding: 30px 0 15px 30px;
	background: transparent;
	border-bottom: 1px solid #425869;
	color: @unactive;
	width: 100%;
	font-size: 16px;
	&:focus {
		border-bottom-color: @active;
		&+ i.login,
		&+ i.password {
			color: @active;
		}
	}
	@media screen and (max-width: 1365px) {
		font-size: 19px;
	}
	@media screen and (max-width: 1023px) {
		font-size: 21px;
	}
}

.login,
.password {
	color: @unactive;
	position: absolute;
	top: 0;
	left: 0;
}

.invalid {
	border-bottom-color: #f75c4c;
}
.error-text {
	color: #bc5049;
	font-size: 12px;
}


/*modal window*/
.cover-wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 450;
}
/*MODAL*/
.modal-window {
	width: 500px;
	height: 580px;
	background-color: #2a3f50;
	position: absolute;
	top: 30px;
	left: 50%;
	margin-left: -250px;
	padding: 10px;
	box-sizing: border-box;
	z-index: 451;
	@media screen and (max-width: 1023px) {
		width: 100%;
		min-height: 100%;
		top: 0;
		left: 0;
		margin-left: 0;
	}
}
.btns-group {
	float: right;
}
.modal-action-btn {
	background-color: transparent;
	color: #8aa1b4;
	font-size: 20px;
	padding-left: 10px;
}
.modal-title {
	font: 28px @robotobold;
	color: @active;
	text-align: center;
	padding: 30px 0 20px;
}
.modal-form {
	padding: 0 20px;
	@media screen and (max-width: 1023px) {
		padding: 0 150px;
	}
	@media screen and (max-width: 767px) {
		padding: 0 20px;
	}
}
.input-title {
	font: 14px @robotoreg;
	color: @active;
}
.input-content {
	margin: 10px 0 20px;
	border-bottom: 1px solid #425869;
	color: @unactive;
	font: 16px @robotoreg;
	background-color: transparent;
	width: 100%;
}
/*CHECK ELEMENTS*/
.category-item,
.estimation-item,
.priority-item {
	display: inline-block;
	margin-left: 10px;
}
.list-item {
	display: none;
}
.c-radio-icon {
	width: 17px;
	height: 17px;
	display: inline-block;
	float: left;
	background-image: url("@{pathToFile}img/radiobtn-sprite.png");
	margin: 0 10px 0 0;
	background-position-x: -1px;
	background-position-y: -38px;
}
.p-radio-icon {
	width: 17px;
	height: 17px;
	display: inline-block;
	float: left;
	background-image: url("@{pathToFile}img/radiobtn-sprite-2.png");
	background-position-y: -39px;
	margin-top: 0;
	background-position-x: -2px;
	margin-right: 10px;
}
.checkbox-element {
	width: 20px;
	height: 19px;
	background-image: url("@{pathToFile}img/tomato.svg");
	display: inline-block;
}
.estimation-item .checkbox-list-item:checked + .checkbox-element {
	background-image: url("@{pathToFile}img/tomato_fill.svg");
}
/*HOVER AND CHECK ON CATEGORIES RADIOBUTTONS*/
.category-item {
	&:hover {
		.c-radio-icon{
			background-position-y: -20px;
			cursor: pointer;
		}
		.work {
			background-position-x: -1px;
		}
		.education {
			background-position-x: -73px;
		}
		.hobby {
			background-position-x: -55px;
		}
		.sport {
			background-position-x: -37px;
		}
		.other {
			background-position-x: -19px;
		}
	}
	.radio-list-item {
		&:checked {
			&+ .c-radio-icon{
				background-position-y: -1px;
			}
			&+ .work {
				background-position-x: -1px;
			}
			&+ .education {
				background-position-x: -73px;
			}
			&+ .hobby {
				background-position-x: -55px;
			}
			&+ .sport {
				background-position-x: -37px;
			}
			&+ .other {
				background-position-x: -19px;
			}
		}
	}
}

/*HOVER AND CHECK ON PRIORITIES RADIOBUTTONS*/
.priority-item{
	&:hover {
		.p-radio-icon{
			background-position-y: -21px;
			cursor: pointer;
		}
		.urgent {
			background-position-x: -2px;
		}
		.high {
			background-position-x: -20px;
		}
		.middle {
			background-position-x: -38px;
		}
		.low {
			background-position-x: -56px;
		}
	}
	.radio-list-item {
		&:checked {
			&+ .p-radio-icon{
				background-position-y: -2px;
			}
			&+ .urgent {
				background-position-x: -2px;
			}
			&+ .high {
				background-position-x: -20px;
			}
			&+ .middle {
				background-position-x: -38px;
			}
			&+ .low {
				background-position-x: -56px;
			}
		}
	}
}
.remove-task {
	text-align: center;

}
.remove-question {
	font: 36px @robotolight;
	color: @unactive;
	text-align: center;
	padding: 120px 30px;
}
.remove-task-btn {
	display: inline-block;

}

.main-wrapper {
	padding-top: 30px;
}

.upper-filter {
	margin-bottom: 0;
}
.upper-filter,
.bottom-filter,
.tabs {
	text-align: center;
}
.active {
	color: @active;
}
.reports-area {
	/* width: 50%; */
	margin: 0 auto;
	display: block;
	padding: 20px 0 70px;
}
.chart {
	margin: 0 auto;
	min-height: 300px;
	min-width: 300px;
}


.choose-categories {
	overflow: hidden;
	width: 324px;
	margin: 0 auto;
	padding-top: 40px;
}
.category-item {
	overflow: hidden;
	padding-bottom: 17px;
	list-style-type: none;
	&:focus {
		.category-radio-icon {
			background-position-y: -1px;
		}
	}
	&:hover {
		.category-input-text {
			color: @active;
			border-bottom: 1px solid #fff;
			cursor: pointer;
		}
	}
}
.category-input-text {
	border-bottom: 1px solid #425869;
	float: left;
	width: 80%;
	padding-bottom: 7px;
	color: @unactive;
	background-color: transparent;
	font: 16px "robotoregular";
	&:focus {
		color: @active;
		border-bottom: 1px solid @active;
		cursor: pointer;
	}
	@media screen and (max-width: 1365px) {
		font-size: 19px;
	}
	@media screen and (max-width: 1023px) {
		font-size: 23px;
	}
}
.category-radio-icon {
	margin-right: 20px; /*it was necessary*/
	background-position-y: -20px;
	width: 17px;
	height: 17px;
	display: inline-block;
	float: left;
	background-image: url("@{pathToFile}img/radiobtn-sprite.png");
}

.category-item-hidden {
	display: none;
	&:checked {
		&+ .category-radio-icon {
			background-position-y: -1px;
		}
	}
}

.btn-group {
	text-align: center;
	.action-btn {
		display: inline-block;
	}
}


.content-area {
	@media screen and (max-width: 1023px) {
		padding-top: 0;
	}
	@media screen and (max-width: 390px) {
		padding: 0 10px;
	}
}
.main-page-title {
	color: @active;
	padding-bottom: 40px;
}
.title-hint {
	color: @unactive;
}
.settings-pomodoros {
	max-width: 776px;
	margin: 80px auto 0;
	overflow: hidden;
	@media screen and (max-width: 767px) {
		max-width: 400px;
	}
}
.settings-items {
	float: left;
	max-width: 365px;
	width: 50%;
	padding-bottom: 60px;
	font: 14px @ptsansreg;
	.circle {
		width: 17px;
		height: 17px;
		border-radius: 50%;
		float: left;
	}
	@media screen and (max-width: 1365px) {
		max-width: 365px;
		width: 50%;
		font-size: 16px;
	}
	@media screen and (max-width: 1023px) {
		max-width: 365px;
		width: 50%;
	}
	@media screen and (max-width: 767px) {
		max-width: 365px;
		width: 100%;
		font-size: 14px;
	}
}
.your-cycle,
.settings-items br {
	font-family: @ptsansbold;
	color: @active;
	text-align: center;
	clear: both;
}
.settings-items-title,
.counter {
	float: left;
}
.settings-items-title{
	color: @active;
	padding-left: 20px;
}
.settings-items span {
	color: #7e95a8;
	clear: both;
	@media screen and (max-width: 1365px) {
		font-size: 14px;
	}
}

.counter {
	width: auto;
	border-bottom: 1px solid #8da5b8;
	color: @unactive;
	margin: 0 0 15px 50px;
	padding-bottom: 6px;
	@media screen and (max-width: 390px) {
		margin: 0 0 15px 25px;
	}
}
.minus:hover,
.plus:hover {
	color: @active;
}
.counter {
	&:hover {
		border-bottom-color: #fff;
	}
	.icon {
		cursor: pointer;
	}
}

.iterations {
	font: 16px @robotoreg;
	background-color: transparent;
	padding: 0 5px;
	color: @unactive;
}
.icon {
	color: @unactive;
	background-color: transparent;
}
.minus {
	padding-right: 30px;
}
.plus {
	padding-left: 30px;
}

.yellow {
	.setBgColor(@category_0);
}
.blue {
	.setBgColor(@category_1);
}
.light-blue {
	.setBgColor(@category_4);
}

.timeline {
	height: 10px;
	width: 100%;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
}
.timeline-scale {
	width: 100%;
	position: relative;
	overflow: hidden;
	padding-bottom: 40px;
}
.timeline-blocks {
	list-style-type: none;
	height: 100%;
	float: left;
}
.hourPin {
	font: 12px @ptsansreg;
	color: #7e95a8;
	display: inline-block;
	box-sizing: border-box;
	text-align: right;
}
.full-cycle-point {
	font: 14px @ptsansreg;
	color: #7e95a8;
}


.small-title-hint {
	color: #fff;
	font: normal 17px @ptsansreg;
}

/* common timer area */
.timer-area {
	clear: both;
	display: block;
	margin: 0 auto;
}
/* timer */
.timer-container {
	width: 264px;
	height: 264px;
	margin: 0 auto;
	border-radius: 50%;
	border-style: solid;
	border-width: 5px;
	box-shadow: 0 0 15px 10px rgba(21, 43, 59, 0.25);
	position: relative;
	animation: apear 2s ease 1;
	box-sizing: border-box;
}
.timer {
	width: 50%;
	height: 100%;
	position: absolute;
	background: @unactive;
	box-sizing: border-box;
	border-right: none;
	border: 9px solid @main;
}
.spin {
	border-right: none;
	background-color: @unactive;
	border-radius: 100% 0 0 100% e('/') 50% 0 0 50%;
	animation: spining 10s linear 3s infinite;
	z-index: 200;
	left: 0;
	top: 0;
	transform-origin: 100% 50%;
}
.addition-spin {
	border-radius: 0 100% 100% 0 e('/') 0 50% 50% 0;
	border-left: none;
	animation: hiddenApear 10s steps(1, end) 3s infinite;
	z-index: 100;
	left: 50%;
	top: 0;
	opacity: 0;
}
.mask {
	border-radius: 100% 0 0 100% e('/') 50% 0 0 50%;
	opacity: 1;
	z-index: 300;
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	background-color: @main;
	-webkit-animation: mask 10s steps(1, end) 3s infinite;
}
.timer-in {
	position: relative;
	top: 45px;
	left: 45px;
	width: 163px;
	height: 163px;
	background-color: @main;
	border-radius: 50%;
	z-index: 400;
	animation: apear 2s ease 1;
}
.timer-text {
	color: @active;
	font: 26px @ptsansreg;
	text-align: center;
	padding: 2em 0;
}
.double-line,
.triple-line {
	padding: 0;
}
.trile-text {
	padding: 1em 0;
}
.timer-text span {
	font-size: 100px;
}
.triple-line span {
	font-size: 70px;
}
/* end */
.pomodoros {
	text-align: center;
	padding-bottom: 55px;
}
.pomodoro-item {
	display: inline-block;
	list-style-type: none;
	width: 25px;
	height: 23px;
	padding: 0 5px;
}


/* animations */
@-webkit-keyframes apear {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}

@-webkit-keyframes spining {
	0% {
		-webkit-transform: rotate(0);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
}
@-webkit-keyframes hiddenApear {
	0% {
		opacity: 0;
	}
	50%,
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes mask {
	0% {
		opacity: 1;
	}
	50%,
	100% {
		opacity: 0;
	}
}