#header {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background-color: @primaryDark;
  padding: 40px 0 33px;

  @media @tablet-md {
    padding: 35px 0 20px;
  }

  @media @desktop {
    padding: 47px 0 5px;
  }

  @media @desktop-md {
    padding: 48px 0 5px;
  }

  &.fixed {
    position: fixed;
    z-index: 200;
    border-bottom: 1px solid #223849;
    box-shadow: 0 -5px 10px 10px rgba(34, 56, 73, 0.7);
    display: block;
  }

  .logo {
    width: 242px;
    float: left;
    margin: 0;
    display: none;
  }

  .container {
    .clearfix();
  }
}

.main-menu {
  .listreset();

  float: right;
  font-size: 28px;

  @media @desktop {
    font-size: 24px;
  }

  @media @desktop-md {
    font-size: 18px;
  }

  li {
    padding: 10px 0 10px 44px;
    display: inline-block;
    vertical-align: top;
  }

  a {
    color: @grayLight;

    &:hover {
      color: @white;
    }
  }

  .remove-tasks,
  .add-task {
    display: none;
  }
}